.relative {
    background-color: #00b1dd;
    }

.stat {
    background-color: #00b1dd;
    padding-right: 70px;
    }
.bann{
    background-color: red;
    padding-top: 40px;
    padding-bottom: 40px;
}