<div class="stat">
<div style="margin-top:0px; " class = "container-fluid">

  <div class="row">
    <h2 style="text-align:center; font-size:40px; color: #1b1b1b; margin-top:40px;">Специальные предложения от наших партнеров</h2>
  </div>


<div class="row row-cols-1 row-cols-md-3 g-4">


  <div class="col">
      <div style="color:black;" class="card-body">
        <a target="_blank" href="https://c140.travelpayouts.com/click?shmarker=120716.120716&trs=36605&promo_id=4378&source_type=banner&type=click"><img src="https://c140.travelpayouts.com/content?promo_id=4378&trs=36605&shmarker=120716.120716&type=init" alt="Бронируй онлайн с выгодой" width="425" height="400"></a>
      </div>
  </div>

  <div class="col">
      <div class="card-body">
        <a target="_blank" href="https://c17.travelpayouts.com/click?shmarker=120716.120716&trs=36605&promo_id=3709&source_type=banner&type=click"><img src="https://c17.travelpayouts.com/content?promo_id=3709&trs=36605&shmarker=120716.120716&type=init" alt="Mcruises 425*400" width="425" height="400"></a>
      </div>
  </div>

  <div class="col">
      <div class="card-body">
        <a target="_blank" href="https://c24.travelpayouts.com/click?shmarker=120716.120716&trs=36605&promo_id=1646&source_type=banner&type=click"><img src="https://c24.travelpayouts.com/content?promo_id=1646&trs=36605&shmarker=120716.120716&type=init" alt="425*400" width="425" height="400"></a>
      </div>
  </div>


  


  

</div>
  
</div>
</div>



<div class='bann'>
<div style="text-align:center;" class = 'container'>
    <a target="_blank" href="https://c86.travelpayouts.com/click?shmarker=120716.120716&trs=36605&promo_id=3243&source_type=banner&type=click"><img src="https://c86.travelpayouts.com/content?promo_id=3243&trs=36605&shmarker=120716.120716&type=init" alt="1502*186" width="873" height="108"></a>
</div>
</div>
