{% load static %}
<link rel='stylesheet' href="{% static 'css/other.css' %}">


<link rel="stylesheet" href="{% static 'css/min.css' %}">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<div class='relative'>
<div class="container">
  <section id="stats-subtitle">

  <div class="row">
      <h2 style="text-align:center; font-size:40px; color: #1b1b1b; margin-top:40px;">Почему клиенты выбирают нас?</h2>
  </div>

  <div style="margin-top:50px;" class="row">
    <div class="col-xl-6 col-md-12">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                 <i class="icon-pencil primary font-large-2 mr-2"></i>
              </div>
              <div class="media-body">
                <h4 style="font-text: sans serif;">Огромный выбор</h4>
                <span style="font-text: sans serif;">Tezbilet сравнивает тысячи предложений от 725 авикомпаний мира, 45 агентств и 5 систем бронирования</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                <i class="icon-speech warning font-large-2 mr-2"></i>
              </div>
              <div class="media-body">
                <h4 style="font-text: sans serif;">Надежный и бесплатный поиск</h4>
                <span style="font-text: sans serif;">При выборе авиарейса, мы бесплатно направляем вас, к нашим проверенным партнёрам, которые продают билеты</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="media-body">
                <h4 style="font-text: sans serif;">Онлайн-покупка авиабилетов — быстро и просто</h4>
                <span style="font-text: sans serif;">У нас вы можете в пару кликов забронировать авиабилеты</span>
              </div>
              <div class="align-self-center">
                <i class="icon-heart danger font-large-2"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="media-body">
                <h4 style="font-text: sans serif;">Никаких сборов или наценок</h4>
                <span style="font-text: sans serif;">Цена, которую вы видите в результатах поисках именно та, которую вы будете платить</span>
              </div>
              <div class="align-self-center">
                <i class="icon-wallet success font-large-2"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

</section>
</div>
</div>
